.footnote {
  transform: translate3d(0, 100%, 0);

  &--show {
    transform: translate3d(0, 0, 0);
  }

  &--slide-in-up {
    animation-name: slideInUpFootnote;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.5, 0.85, 1, 1);
    animation-direction: normal;
    animation-fill-mode: both;
  }

  &--fade-in {


    .disclaimer li,
    .screen__footer-note {
      animation-name: fadeIn;
      animation-duration: 0.6s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-fill-mode: backwards;
      animation-delay: 0.1s;
    }
  }
}
