.transition-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;;
  z-index: 1;
  background-color: $c-dark;
  transform: scaleY(0);
  transform-origin: 0% 100%;

  &.show {
    transform: scaleY(1);
    transition: transform 0.6s linear;
  }
}
